[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/SDL_image"]
	path = third_party/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "third_party/SDL_mixer"]
	path = third_party/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "third_party/SDL_ttf"]
	path = third_party/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/imgui_test_engine"]
	path = third_party/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "third_party/lunasvg"]
	path = third_party/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/cppjieba"]
	path = third_party/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
[submodule "third_party/imgui_markdown"]
	path = third_party/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "third_party/imgui-node-editor"]
	path = third_party/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
